
@use "../utils/variables" as *;
@use"../utils/mixins" as *;
@use"../base/base" as*;
body{
.footer{
  width:100%;
   box-sizing: border-box;
    background: $color-dark-grey;
    color:white;
    padding: 25px;
    @include desktop{
     img{ padding-right:60px }
      @include flex (row-reverse,flex-start);
        align-items: last baseline;
      gap: 40px;
      height: 100px;
      align-items: center;
  
    }
    
    img{
      filter: brightness(0) saturate(100%) invert(99%) sepia(65%) saturate(56%) hue-rotate(238deg) brightness(110%) contrast(96%);
      width: 130px;
      padding-top: 10px;
      padding-right: 40px;
      padding-left: 15px;
      
     
    }
    ul{
      
      list-style-type: none;
      padding: 15px;
      margin: 0;
      @include desktop{
       padding-bottom: 0;
       li:nth-child(3){
        padding-left: 60px;
       }
      }
    }
      li{ 
        padding-bottom: 10px;
        @include desktop{
        
          display: inline-block;
          padding-left: 10px;
        }
      i{
        padding-right:12px;
       
      }
    
    }
      }
  
    }
        
    
 
