
@use "../utils/variables" as *;
@use"../utils/mixins" as *;
@use"../base/base" as*;
body{
.footer{
  width:100%;
   box-sizing: border-box;
    background: $color-dark-grey;
    color:white;
    padding: 25px;
    @include desktop{
   
      @include flex (row-reverse,flex-start);
        align-items: last baseline;
    
     height: 100px;
    padding: 0 20px 15px;
    
    } 
    img{
      filter: brightness(0) saturate(100%) invert(99%) sepia(65%) saturate(56%) hue-rotate(238deg) brightness(110%) contrast(96%);
      width: 130px;
      padding-top: 10px;
      padding-right: 20px;
     
    }
    ul{
      list-style-type: none;
      padding: 15px;
      margin: 0;
      @include desktop{
       padding-bottom: 0;
      }
    }
      li{ 
        padding-bottom: 10px;
        @include desktop{
          display: inline-block;
          padding-left: 20px;
        }
      i{
        padding-right:12px;
       
      }
    }
      }
  
    }
        
    
 
