@use "../utils/mixins" as *;
@use "../utils/variables" as *;

@use"../base/base" as*;

/*********header*******/
body {
  header {
    box-sizing: border-box;
    width: 100%;
    @include flex(column, center);


    img {
      width: 210px;
      margin: auto;
      padding-top: 20px;
      
    }

    .bar {
      @include flex(row, center);
      box-shadow: inset 2px 5px 5px -3px darken($primary-color, 30%);
      background: darken($primary-color, 10%);
      height: 40px;
      width:100%;
    
      margin-top: 20px;
      
  


      i {
        padding: 3px 12px 14px;
        font-size: 16px;
        background: darken($primary-color, 10%);

      }

    }

    input {
      border: none;
      outline: none;
      background: darken($primary-color, 10%);
      width: 140px;

      &::-webkit-input-placeholder {
        height: 100px;
        padding-top: 34px;
        font-size: 18px;
        font-weight: 500;
        color: darken($primary-color, 70%);
      }
    }

  }
}