@use"../utils/variables" as*;
@use"../utils/mixins" as*;


.loader{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-purple;
    animation:fade 3s linear forwards  ;
    p{
     
      font-size:40px;
      font-weight: bold;
      font-family: Shrikhand;
      color:white;
      background-image: linear-gradient(to bottom ,$color-gradient,$color-purple);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      position:relative;
      margin-left: 60px;
      
      &::before{
        @include desktop{
            width: 45px;
            height: 45px;
        }
        content:"";
        width: 28px;
        height: 28px;
       position:absolute;
       left:-100px;
       top:-20px;
        border:20px solid white;
        border-top: 20px solid $color-gradient;
        border-radius:50%;
        animation:spin 0.75s linear infinite;
       

      }
    }
}

   



@keyframes spin {
    from {transform:rotate(0deg);}
 
    to {transform:rotate(360deg);}
}

@keyframes fade {
    0% {visibility:visible;  opacity:1;z-index: 1000;
        }
        15%{visibility: visible; opacity: 0.95; }
        25%{visibility: visible; opacity: 0.9; }
        25%{visibility: visible; opacity: 0.8; }
        65%{visibility: visible; opacity: 0.6;}
        80%{visibility: hidden; opacity: 0.3;}
    100% {visibility:hidden;opacity: 0;z-index: -100;}
}
