@use"../utils/variables" as*;
@use"../base/base";
@use"../utils/mixins" as *;

.home {
   width: 100%;
 
   background: $primary-color;
   text-align: center;
   padding: 10px;
   @include flex (column, center);
   @include desktop {
      padding: 50px 0 ;
   }
    p {
      font-size: 18px;
      color: $color-dark-grey;
   }
   &__btn {
      @include Btn;
      


     
   }
}