@use "../utils/mixins" as*;
@use "../utils/variables" as*;
@use"../base/base" as*;

/****restaurant*****/

  .menu {
    box-sizing: border-box;
    width: 100%;
    background: $primary-color;
    padding: 10px  ;
    h2{
      padding-left: 20px;
    }
    @include desktop{
      padding: 10px 0px 40px;
    h2{
      padding-left: 120px;
     display: block;
     width: 200px;
    }
   
    }
  
    &__cards {
      a {
        width: 349px;
      }
      @include flex(column,center);
     
      @include desktop {
        a {
          width: 35%;
        }
        @include flex (row, center);
        column-gap: 80px;
        flex-wrap: wrap;
      }
    }
  }
  
  .card {
    position: relative;
  
    background: white;
    border-radius: 20px;
    margin: 20px auto;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    &__paragraphe {
      background: $color-green;
      color: darken($color-green,46%);
      border-radius: 3px;
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 7px;
      font-weight: 450;
      font-size: 14px;
    }
    &__content {
      @include flex(row, space-between);
      padding: 3px 10px 5px;
     }
    &__heart {
      
      position: relative;
      &:hover &--full {
        opacity: 1;
      }
      &--empty {
        position: relative;
    
        font-size: 20px;
        transition:opacity 1s ease;
        opacity: 1;
        &:hover{
          opacity:0;
        } 
      }
      &--full {
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s ease;
        background: -webkit-linear-gradient(bottom, $color-purple, $color-gradient);
        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
       
    }
  }
    main {
      .menu {
        box-sizing: border-box;
        width: 100%;
        background: $primary-color;
        padding: 10px;
  
        h2 {
          padding-left: 20px;
        }
  
        @include desktop {
          padding: 10px 0px 40px;
  
          h2 {
            padding-left: 120px;
            display: block;
            width: 200px;
          }
  
        }
  
        &__cards {
          a {
            width: 320px;
          }
  
          @include flex(column, center);
  
          @include desktop {
            a {
              width: 35%;
            }
  
            @include flex (row, center);
            column-gap: 80px;
            flex-wrap: wrap;
          }
  
  
  
          .card {
            position: relative;
            background: white;
            border-radius: 20px;
            margin: 20px auto;
  
            img {
              width: 100%;
              height: 200px;
              object-fit: cover;
              border-radius: 20px 20px 0 0;
            }
  
            &__paragraphe {
              background: $color-green;
              color: darken($color-green, 46%);
              border-radius: 3px;
              position: absolute;
              top: 10px;
              right: 10px;
              padding: 7px;
              font-weight: 450;
              font-size: 14px;
            }
  
            &__content {
              @include flex(row, space-between);
              padding: 3px 10px 5px;
            }
  
            &__heart {
              
              
              position: relative;
  
              &:hover &--full {
                opacity: 1 ;
              }
  
              &--empty {
                position: relative;
  
                font-size: 30px;
                transition: opacity 1s ease;
                opacity: 1;
  
                &:hover {
                  opacity: 0;
                }
              }
  
              &--full {
                font-size: 30px;
              
                position: absolute;
                top: 0;
                left: 0;
              opacity: 0;
                transition: opacity 1s ease;
                background: -webkit-linear-gradient(bottom, $color-purple, $color-gradient);
                --webkit-background-clip: text;
                --webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
              }
  
            }
          }
        }
    }  }  