&__heart {
    position: relative;

    &:hover &--full {
      opacity: 1;
    }

    &--empty {
      position: relative;
  
      font-size: 20px;
      transition:opacity 1s ease;
      opacity: 1;
      &:hover{
        opacity:0;
      }
     
    }

    &--full {
      
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 1s ease;
      background: -webkit-linear-gradient(bottom, $color-purple, $color-gradient);
      --webkit-background-clip: text;
      --webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
     }