body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  overflow-x: hidden;
}
body h3, body h1, body p {
  margin-bottom: 5px;
  margin-top: 5px;
}
body a {
  text-decoration: none;
  color: inherit;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
  text-align: center;
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .home {
    padding: 50px 120px;
  }
}
.home p {
  font-size: 18px;
  color: #353535;
}
.home__btn {
  border-radius: 30px;
  border: none;
  margin: 20px;
  height: 55px;
  width: 220px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}
.home__btn:hover {
  opacity: 0.7;
}

/*******fonctionement ******/
.fonctionement h2 {
  padding-left: 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionement h2 {
    padding-top: 20px;
    position: relative;
    left: 12%;
  }
}
.fonctionement .fonctionement-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .fonctionement .fonctionement-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.fonctionement .fonctionement-card__title, .fonctionement .fonctionement-card .fonctionement-card__title--purple {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  background: #F6F6F6;
  height: 75px;
  width: 320px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 3px 15px #d9d9d9;
}
@media screen and (min-width: 1024px) {
  .fonctionement .fonctionement-card__title, .fonctionement .fonctionement-card .fonctionement-card__title--purple {
    width: 24%;
  }
}
.fonctionement .fonctionement-card__title .number, .fonctionement .fonctionement-card .fonctionement-card__title--purple .number {
  position: absolute;
  left: -6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-top: 2px;
  color: white;
  background: #9356DC;
}
.fonctionement .fonctionement-card__title h3, .fonctionement .fonctionement-card .fonctionement-card__title--purple h3 {
  font-weight: 500;
  font-size: 16px;
  margin: 10px 0;
}
.fonctionement .fonctionement-card__title i, .fonctionement .fonctionement-card .fonctionement-card__title--purple i {
  padding: 20px 20px 20px 0;
  color: #777777;
  display: inline-block;
}
.fonctionement .fonctionement-card .fonctionement-card__title--purple i {
  color: #9356DC;
}

/****restaurant*****/
.menu {
  background: #F6F6F6;
  padding: 10px 20px 40px;
}
@media screen and (min-width: 1024px) {
  .menu h2 {
    position: relative;
    left: 12%;
  }
  .menu a {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    flex-wrap: wrap;
  }
}

.card {
  position: relative;
  width: 100%;
  background: white;
  border-radius: 20px;
  margin: 20px auto;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__paragraphe {
  background: #99E2D0;
  color: #20705d;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px;
  font-weight: 450;
  font-size: 14px;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px 5px;
}
.card__heart {
  position: relative;
}
.card__heart:hover .card__heart--full {
  opacity: 1;
}
.card__heart--empty {
  position: relative;
  font-size: 20px;
  transition: opacity 1s ease;
  opacity: 1;
}
.card__heart--empty:hover {
  opacity: 0;
}
.card__heart--full {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
  background: -webkit-linear-gradient(bottom, #9356DC, #FF79DA);
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  animation: fade 3s linear forwards;
}
.loader p {
  font-size: 40px;
  font-weight: bold;
  font-family: Shrikhand;
  color: white;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  margin-left: 60px;
}
.loader p::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: -100px;
  top: -20px;
  border: 20px solid white;
  border-top: 20px solid #FF79DA;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}
@media screen and (min-width: 1024px) {
  .loader p::before {
    width: 45px;
    height: 45px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
  15% {
    visibility: visible;
    opacity: 0.95;
  }
  25% {
    visibility: visible;
    opacity: 0.9;
  }
  25% {
    visibility: visible;
    opacity: 0.8;
  }
  65% {
    visibility: visible;
    opacity: 0.6;
  }
  80% {
    visibility: hidden;
    opacity: 0.3;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -100;
  }
}
/*********header*******/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  width: 220px;
  margin: auto;
  padding-top: 20px;
}
header .bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 8px 5px 5px -3px #aaaaaa;
  background: #dddddd;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  padding-left: 15px;
  position: relative;
}
header .bar::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 100%;
  height: 0.1px;
  background: #dddddd;
  box-shadow: 2px 3px 3px #5d5d5d;
}
header .bar i {
  padding: 3px 12px 14px;
  font-size: 16px;
  background: #dddddd;
}
header input {
  border: none;
  outline: none;
  background: #dddddd;
  width: 140px;
}
header input::-webkit-input-placeholder {
  height: 100px;
  padding-top: 34px;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
}

.footer {
  background: #353535;
  color: white;
  padding: 15px;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    align-items: last baseline;
    height: 100px;
    padding: 0 15px 15px;
  }
}
.footer img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(65%) saturate(56%) hue-rotate(238deg) brightness(110%) contrast(96%);
  width: 110px;
  padding: 10px 10px 0;
}
.footer ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .footer ul {
    padding-bottom: 0;
  }
}
.footer li {
  padding-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .footer li {
    display: inline-block;
    padding-left: 20px;
  }
}
.footer li i {
  padding-right: 12px;
}

.entete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: center;
}
.entete img {
  padding-bottom: 10px;
}
.entete i {
  padding-left: 20px;
}

/******main******/
.main__img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.main .menu-container {
  position: relative;
  bottom: 50px;
  margin-bottom: -50px;
  padding-bottom: 22px;
  background: #F6F6F6;
  border-radius: 30px 30px 0 0;
  /*********animation/apparition*****/
  /******lesmenus*****/
}
@media screen and (min-width: 1024px) {
  .main .menu-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .main .menu-container h2 {
    padding-left: 16%;
  }
  .main .menu-container h2::after {
    margin-left: 16%;
  }
}
.main .menu-container__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
@media screen and (min-width: 1024px) {
  .main .menu-container__title {
    justify-content: center;
  }
  .main .menu-container__title i {
    margin-left: 20px;
  }
}
.main .menu-container__title h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 28px;
}
.main .menu-container h2 {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
}
.main .menu-container h2::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 2px;
  width: 30px;
  height: 3px;
  background: #99E2D0;
}
.main .menu-container .showen1 {
  opacity: 0;
  animation: opacity 2s ease forwards;
}
.main .menu-container .showen2 {
  opacity: 0;
  animation: opacity 4s ease forwards;
}
.main .menu-container .showen3 {
  opacity: 0;
  animation: opacity 6s ease forwards;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main .menu-container .menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-bottom: 30px;
}
.main .menu-container .menus .carte-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 70px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: 0px 3px 15px #d9d9d9;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .main .menu-container .menus .carte-container {
    width: 65%;
  }
}
.main .menu-container .menus .carte-container:hover .carte-container__chek {
  right: 0;
  transition: all 1s;
  cursor: pointer;
}
.main .menu-container .menus .carte-container:hover .carte-container__price {
  transform: translateX(-50px);
}
.main .menu-container .menus .carte-container__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-calc(100% - 54px);
  align-items: flex-start;
  padding: 8px 0 0px 16px;
}
.main .menu-container .menus .carte-container__title p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: -webkit-calc(100% - 54px);
}
.main .menu-container .menus .carte-container__title:hover {
  cursor: pointer;
}
.main .menu-container .menus .carte-container__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  width: 30px;
  font-weight: bold;
  padding: 0 10px 10px 0;
  transition: transform 0.5s;
}
.main .menu-container .menus .carte-container__price:hover {
  cursor: pointer;
}
.main .menu-container .menus .carte-container__chek {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 50px;
  height: 70px;
  right: -50px;
  color: white;
  background: #99E2D0;
  border-radius: 0 16px 16px 0;
  position: absolute;
}
.main .menu-container .home__btn {
  margin: auto;
  display: block;
  width: 160px;
  height: 45px;
}

/*# sourceMappingURL=style.css.map */
