@use"../utils/mixins" as *;
@use"../utils/variables" as *;
@use"../base/base" as *;
@use"../layout/footer" as *;

.entete {
  img {
    padding-bottom: 10px;
  }

  i {
    padding-left: 20px;
    font-size: 20px;
  }

  @include flex(row, space-around);
  align-items: center;

}

/******main******/ 
 
.main {
  &__img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
  .menu-container {
    @include desktop {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
     
      h2{    
        padding-left: 16%;
     &::after{ 
     margin-left: 16%;
     }
    } 
    }
    position:relative;
    bottom:50px;
    margin-bottom: -50px;
    padding-bottom: 22px;
    background: $primary-color;
    border-radius: 30px 30px 0 0;
    &__title {
      @include flex (row, space-around);
    
      
      @include desktop{
        justify-content: center;
        i{
          margin-left:20px;
        }
      }
      padding: 20px 10px;

      h1 {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-size: 28px;
      }
    }

    h2 {
      position: relative;
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 20px;
      margin-left: 20px;
      display: flex;
      align-items: flex-start;
      &::after {
        content: "";
       position:absolute;
        top: 25px;
        left: 2px;
        width: 30px;
        height: 3px;
        background:$color-green;

      }
    }
/*********animation/apparition*****/
    .showen1 {
      opacity: 0;
      animation: opacity 2s ease  forwards;
    }
    .showen2 {
      opacity: 0;

      animation: opacity 2s ease forwards 1s;

     
    }
    .showen3 {
      opacity: 0;
      animation: opacity 2s ease  forwards 2s;
    }

    @keyframes opacity {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
   
   
    /******lesmenus*****/
 
    .menus {
      @include flex (column, space-between);
      align-items: center;
      margin-bottom: 30px;
     
     
      .carte-container {
        @include desktop{
          width: 65%;
        }
       
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 70px;
       
        background: white;
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;
        box-shadow:0px 3px 15px lighten(black,85%);
        position: relative;
      
        &:hover .carte-container__chek {
          right: 0;
          cursor: pointer;
        }
    &:hover .carte-container__price {
        transform:translateX(-50px);
     }
        &__title {
          @include flex (column, center);
        
        
          width:  unquote("-webkit-calc(100% - 54px)");
          align-items: flex-start;
         
          padding: 8px 0 0px 16px;
       h3, p{
          white-space:nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width:  unquote("-webkit-calc(100% - 54px)");;
        ;
        }
          &:hover {
            cursor: pointer;

          }
        }

        &__price {
          @include flex (row, center);
          align-items: flex-end;
          width: 30px;
          font-weight: bold;
          padding: 0 10px 10px 0;
          transition: transform 1s;
         

          &:hover {
            cursor: pointer;

          }

        }

        &__chek {
          @include flex (row, center);
          align-items: center;
          width: 50px;
         height: 70px;
          color: white;
          background: $color-green;
          border-radius: 0 16px 16px 0;
          right: -50px;
          transition:right 1s;
          position: absolute;
        }
      }
    }
    .home__btn {
      margin: auto;
      display: block;
      
      width: 160px;
      height: 45px;
      }
     }
  }


  

  








