@use"../utils/variables" as*;
@mixin desktop {
    @media screen and (min-width:1024px) {
        @content;
    }
}

@mixin flex($direction,$justify){
    display:flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items: center;
}

     @mixin Btn{
        border-radius: 30px;
        border:none;
        margin: 20px;
         height: 55px;
         width: 220px;
         color:white;
         font-weight: 500;
         font-size: 16px;
         background: linear-gradient(to top left, $color-purple,$color-gradient);
         box-shadow:  0 8px 10px lighten( $color-dark-grey, 60%);
         transition: all 100ms;
         &:hover{
            transform: scale(1.05);
            opacity: 0.5;
         }
        
        }

        