$primary-color: #F6F6F6;

$color-purple:#9356DC;
$color-gradient:#FF79DA;
$color-green: #99E2D0;
$color-dark-green: #008766;
$color-grey:#7E7E7E;
$color-dark-grey:#353535;
$font-weight:(
    "light":300,
    "medium":500,
);





